<!-- 
File Name: regisrtation.launch

Team Name: Team 4, Hipster 

Author(s): Kaushik Balasundar 

Team Members: Kaushik Balasundar, Anthony Kyu, Gunjan Sethi, Sundaram Seivur, Parker Hill

High Level Description: Starts the pointcloud collector and registration nodes. Has arguments for testing.

Date of first revision: 28th Aoril 2022 -->


<launch>

<arg name="testing" default="False"/>

<param name="testing" value="$(arg testing)"/>
<param name="save_pointcloud" value="$(arg testing)"/>


<group unless="$(arg testing)">
<node pkg = "arthur_perception" type="pointcloudCollector" name="pointcloudCollector" output="screen" />
</group>

<node pkg = "arthur_perception" type="registration_node_v4.py" name="registration_node_v4" output="screen"/> 

</launch>