<launch>

<node pkg = "arthur_perception" type="frameHandler" name="frameHandler" launch-prefix="sudo -S" output="screen" />
<node pkg = "arthur_perception" type="pelvisTracker" name="pelvisTracker" output="screen" />

<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find arthur_perception)/rviz/config.rviz" /> -->
</launch>